.content-fluid,
.content {
  margin-right: auto;
  margin-left: auto;
}

.content-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.content {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include respond-to("laptop-lg") {
      max-width: 114rem;
  }

  @include respond-to("laptop-lg") {
      max-width: 114rem;
  }

  @include respond-to("laptop") {
      max-width: 96rem;
  }

  @include respond-to("tablet") {
      max-width: 72rem;
  }

  @include respond-to("phone-md") {
      
  }

  @include respond-to("phone-sm") {
      
  }
}

.section {
  padding: 5rem 0;
  position: relative;
}

.group {
  margin-bottom: 1.2rem;
}

.wrap-all {
  margin-top: 7rem;

  @include respond-to('phone-lg') {
    margin-top: 10rem;
  }
  
  @include respond-to('phone-md') {
    margin-top: 10rem;
  }

  @include respond-to('phone-sm') {
    margin-top: 10rem;
  }
}