footer {
  flex-shrink: 0;
}

.footer {
  padding: 5rem 0 3rem 0;
  background-color: $color6;
  color: $white;

  h5 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }

  &-bottom {
    padding: 2.3rem 0 0 0;
    margin: 2.3rem 0 0 0;
    border-top: 1px solid #ececec;

    p {
      text-align: center;
    }
  }
}