header {
  position: fixed;
  background: $white;
  box-shadow: $shadow-md;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  display: block;
}

.header {
  position: relative;
  padding: 1.2rem 0;
  @include flex(row, space-between, center);

  ul {
    @include flex(row, space-between, center);

    li {
      margin-left: 3rem;

      a {
        font-size: 1.5rem;
        font-weight: 700;
        transition: color .3s ease;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  @include respond-to('phone-lg') {
    @include flex(column, space-between, center);
  }
  @include respond-to('phone-md') {
    @include flex(column, space-between, center);
  }
  @include respond-to('phone-sm') {
    @include flex(column, space-between, center);
  }
}