.breadcrumb {
  background-color: #f6f7f9;

  &-content {
    padding: 2.8rem 0;
    @include flex(row, space-between, center);

    &__title {
      font-size: 3.6rem;
      font-weight: 600;
    }

    &__menu {
      @include flex(row, space-evenly, center);

      &__home,
      &__link {
        position: relative;
        margin-right: .8rem;
      }
      
      &__link,
      &__link-active {
        position: relative;
        margin-left: 1.3rem;
        &::before {
          position: absolute;
          left: 0;
          top: -.6rem;
          margin-left: -1.30rem;
          content: '\203A';
          font-size: 2.5rem;
        }
      }

      &__link-active {
        color: $color-muted-2;
        font-weight: 600;
      }
    }

    @include respond-to('tablet') {
      @include flex(column, center, center);
    }
    @include respond-to('phone-lg') {
      @include flex(column, center, center);
    }
    @include respond-to('phone-md') {
      @include flex(column, center, center);
    }
    @include respond-to('phone-sm') {
      @include flex(column, center, center);
    }
  }
}

.title-page {
  position: relative;
  margin-bottom: 2rem;

  span {

    &::after {
      content: "";
      position: absolute;
      bottom: .7rem;
      left: .3rem;
      width: 35%;
      height: 1.2rem;
      z-index: -1;
      background-color: $light-grey2;
      @include border-radius(.5rem);
    }
  }
}