button {
  @include btn;
  cursor: pointer;
}

.btn-auth {
  @include btn-outline($primary, $primary, $white);
  margin-top: 1.3rem;
}

.btn-gmail {
  @include btn-normal($color-gmail, $white);

  &:hover {
    @include shadow-lg($color-gmail);
  }
}

.btn-linkedin {
  @include btn-normal($color-linkedin, $white);

  &:hover {
    @include shadow-lg($color-linkedin);
  }
}

.btn-circle {
  display: inline-block;
  margin-right: 1rem;

  a {
    border: 1px solid $black;
    @include border-radius(50%);
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    text-indent: 3px;
    transition: all .3s ease-in-out 0s;
  }
}

.btn-blue {
  @include btn-normal($primary, $white);

  a {
    color: $white;
  }
}

.btn-tertiary {
  @include btn-normal($tertiary, $white);

  &:hover {
    color: $light-grey !important;
  }
}

.btn-outline-blue {
  @include btn-outline($primary, $primary, $white);
}

.closed-span {
  display: block;
  padding: 0 1.2rem;
  margin: 1.4rem 0 0 0;
  color: $tertiary;
  font-weight: 400;
}

.text-muted {
  color: $color-muted;
  text-transform: capitalize;
}

.btn-full {
  @include non-btn-outline($white, $success, $success-hover)
}

.btn-part {
  @include non-btn-outline($white, $warning, $warning-hover)
}

.btn-no-color {
  @include btn;
  border: 1px solid $tertiary;
  color: $tertiary;
  transition: border-color .2s ease-in color .2s ease-in;

  &:hover,
  &.active {
    border: 1px solid $primary;
    color: $primary;
  }
}
