.card-border {
  @include card-border;
  margin-bottom: 4rem;

  &__title {
    font-weight: 600;
    padding-bottom: .8rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ececec;
    color: $color-dark;
  }

  &__content {

    &__img {
      @include flex(row, center, center);
      margin-bottom: .8rem;

      img {
        max-width: 9rem;
      }
    }

    &__title {
      @include title;
    }

    &__address {
      @include address;
    }

    &__identity {
      @include flex(row, space-around, center);

      span {
        color: $color-muted-3;
        font-weight: 400;

        @include respond-to('phone-lg') {
          margin-bottom: 1rem;
        }
      }

      span:last-child {
        @include respond-to('phone-lg') {
          margin-bottom: 0rem;
        }
      }

      @include respond-to('phone-lg') {
        @include flex(column, center, center);
      }
      @include respond-to('phone-md') {
        @include flex(column, center, center);
      }
      @include respond-to('phone-sm') {
        @include flex(column, center, center);
      }
    }

    &__additional {
      margin-bottom: 1.2rem;

      &--bold {
        display: block;
        font-size: 1.6rem;
        color: $color-muted-3;
        font-weight: 700;
        width: 100%;
      }

      &--thin {
        display: block;
        font-size: 1.4rem;
        color: $black-soft;
        font-weight: 400;
        width: 100%;
      }
    }

    &__additional:last-child {
      margin-bottom: 0;
    }

    p {
      color: $color-muted-3;
      font-weight: 400;
      margin-bottom: 1rem;
    }

    p:last-child {
      margin-bottom: 0;
    }

    button {
      margin-bottom: 1rem;
    }
  }
}

// .card-border-shadow {}

.auth-card {
  @include card-auth;

  &__title {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__media-login {
    margin-top: 2.4rem;

    h6 {
      color: $color-muted;
      text-align: center;
    }

    &__button {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a:first-child {
        margin-right: 1.1rem;
      }
    }
  }

  &__helper {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;

    p {
      font-size: 1.4rem;
      color: $black;
      text-align: center;

      span {
        margin-left: .5rem;

        a {
          font-weight: 600;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.card-shadow {
  padding: 2rem;
  background-color: $white;
  box-shadow: $shadow-lg;

  &__top {
    @include flex(row, space-between, center);
  }

  &__middle {
    @include flex(column, center, center);

    &__img {
      @include flex(row, center, center);
    }

    &__title {
      @include title;
    }

    &__address {
      @include address;
    }
  }

  @include respond-to('tablet') {
    margin-bottom: 2rem;
  }

  @include respond-to('phone-lg') {
    margin-bottom: 2rem;
  }

  @include respond-to('phone-md') {
    margin-bottom: 2rem;
  }

  @include respond-to('phone-sm') {
    margin-bottom: 2rem;
  }
}