$radioSize: 22px;

form {

  label {
    display: block;
    font-weight: 600;
    color: $color-muted-2;
    margin-bottom: .8rem;
  }

  input[type=text] {
    @include input;
  }

  input[type=password] {
    @include input;
  }

  input[type=email] {
    @include input;
  }

  input[type=submit] {
    @include btn;
  }

  input[type=search] {
    @include input;
  }

  textarea {
    overflow: auto;
    resize: vertical;
    line-height: 2.5rem;
    @include input;
    height: 12rem;
  }

  select {
    @include input;

    option {
      background-color: $light-grey;
    }
  }
}

.radio {
  margin: 1.6rem 0;
  display: block;
  cursor: pointer;

  input {
    display: none;

    &+span {
      line-height: $radioSize;
      height: $radioSize;
      padding-left: $radioSize;
      display: block;
      position: relative;

      &:not(:empty) {
        padding-left: $radioSize + 8;
      }

      &:before,
      &:after {
        content: '';
        width: $radioSize;
        height: $radioSize;
        display: block;
        border-radius: 50%;
        left: 0;
        top: 0;
        position: absolute;
      }

      &:before {
        background: $light-grey2;
        transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
      }

      &:after {
        background: $light-grey2;
        transform: scale(.78);
        transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
      }
    }

    &:checked+span {
      &:before {
        transform: scale(1.04);
        background: $primary;
      }

      &:after {
        transform: scale(.4);
        transition: transform .3s ease;
      }
    }
  }

  &:hover {
    input {
      &+span {
        &:before {
          transform: scale(.92);
        }

        &:after {
          transform: scale(.74);
        }
      }

      &:checked+span {
        &:after {
          transform: scale(.4);
        }
      }
    }
  }
}

.checkbox {
  .custom-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    &+label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    // Box.
    &+label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: $light-grey2;
    }

    // Box hover
    &:hover+label:before {
      background: $primary;
    }

    // Box focus
    &:focus+label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    // Box checked
    &:checked+label:before {
      background: $primary;
    }

    // Disabled state label.
    &:disabled+label {
      color: #b8b8b8;
      cursor: auto;
    }

    // Disabled box.
    &:disabled+label:before {
      box-shadow: none;
      background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked+label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: $light-grey2;
      width: 2px;
      height: 2px;
      box-shadow:
        2px 0 0 $light-grey2,
        4px 0 0 $light-grey2,
        4px -2px 0 $light-grey2,
        4px -4px 0 $light-grey2,
        4px -6px 0 $light-grey2,
        4px -8px 0 $light-grey2;
      transform: rotate(45deg);
    }
  }
}

.filter-top {
  @include flex(row, space-between, center);
  margin-bottom: 1rem;

  .form-horizontal {
    @include flex(row, space-between, center);
    margin-bottom: 2rem;
    vertical-align: middle;
    margin-right: 2rem;
  }

  .form-horizontal:last-child {
    margin-right: 0rem;
  }

  .filter-top__select {
    @include flex(row, space-between, center);

    label {
      display: inline-block;
      font-weight: 600;
      color: $color-muted-2;
      margin-bottom: .8rem;
      margin-right: 1.5rem;
    }

    .categories {
      margin-left: auto;

      @include respond-to('phone-lg') {
        margin: 0;
      }

      @include respond-to('phone-md') {
        margin: 0;
      }

      @include respond-to('phone-sm') {
        margin: 0;
      }
    }

    select {
      width: auto;
      height: auto;
      margin-right: 1.2rem;
    }

  }

  @include respond-to('phone-lg') {
    @include flex(column, space-between, center);
  }

  @include respond-to('phone-md') {
    @include flex(column, space-between, center);
  }

  @include respond-to('phone-sm') {
    @include flex(column, space-between, center);
  }
}

[role="button"] {
  @include btn;
}