.list-ul {
  .list-li {
    position: relative;
    color: $color-muted-3;
    line-height: 2rem;
    padding-left: 2.3rem;
    margin-bottom: 1rem;

    &::before {
      position: absolute;
      left: 0;
      content: "\00bb";
      color: $color-muted-3;
      top: -.1rem;
      font-size: 2.2rem;
    }
  }

  .list-li:last-child {
    margin-bottom: 0;
  }
}

.footer-list {
  @include list($grey, $white);
  a {
    &:focus:not(:hover) {
      outline: thin dotted $white;
      outline-offset: 5px;
    }
  }
}