*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 100%;
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  color: $black;
  transition: all .3s ease-in-out;

  &:focus:not(:hover) {
    outline: thin dotted $primary;
    outline-offset: 5px;
  }
}

::-moz-focus-inner {
  border: 0;
}

button {

  &:focus:not(:hover) {
    box-shadow: 0 0 0 3px $white, 0 0 0 6px $primary;
  }
}

img {
  height: auto;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}
