.error {
  @include flex(column, center, center);
  height: 100%;
  width: 100%;
  min-height: 60vh;

  h3,
  p,
  a {
    margin-bottom: 2rem;
  }

  h3 {
    font-weight: 700;
    color: $color-muted-3;
    text-align: center;
  }

  p {
    color: $color-muted-3;
    text-align: center;
  }
}