.job {

  &-card {
    padding: 2.2rem;
    border: 1px solid #dee2e6;
    box-shadow: $shadow-lg;
    @include border-radius(.5rem);
    margin-bottom: 2.2rem;

    &-top {
      @include flex(row, center, center);
      border-bottom: 1px solid #ececec;
      padding-bottom: .7rem;
      margin-bottom: 1rem;

      &__logo {
        margin-right: 2rem;

        @include respond-to('tablet') {
          margin: 0;
          padding: 0;
        }

        @include respond-to('phone-lg') {
          margin: 0;
          padding: 0;
        }

        @include respond-to('phone-md') {
          margin: 0;
          padding: 0;
        }

        @include respond-to('phone-sm') {
          margin: 0;
          padding: 0;
        }
      }

      &__company {
        margin-right: auto;

        @include respond-to('tablet') {
          margin: 1.2rem 0;
        }

        @include respond-to('phone-lg') {
          margin: 1.2rem 0;
        }

        @include respond-to('phone-md') {
          margin: 1.2rem 0;
        }

        @include respond-to('phone-sm') {
          margin: 1.2rem 0;
        }

        h3 {
          font-size: 2rem;
          font-weight: 600;
          color: $color-dark;

          @include respond-to('tablet') {
            text-align: center;
          }

          @include respond-to('phone-lg') {
            text-align: center;
          }

          @include respond-to('phone-md') {
            text-align: center;
          }

          @include respond-to('phone-sm') {
            text-align: center;
          }
        }

        h4 {
          font-size: 1.5rem;
          color: $color-muted-2;
        }
      }

      &__type {
        h4 {
          font-size: 1.7rem;
        }
      }

      @include respond-to('tablet') {
        @include flex(column, center, center);
      }

      @include respond-to('phone-lg') {
        @include flex(column, center, center);
      }

      @include respond-to('phone-md') {
        @include flex(column, center, center);
      }

      @include respond-to('phone-sm') {
        @include flex(column, center, center);
      }
    }

    &-middle {
      @include flex(row, center, center);
      border-bottom: 1px solid #ececec;
      padding-bottom: 1rem;
      margin-bottom: 1.2rem;

      &__detail {

        &__title {
          color: $color-dark;
          font-weight: 700;
          margin-bottom: .8rem;
        }

        &__content {
          color: $black;
          margin-bottom: .8rem;
        }

        @include respond-to('tablet') {
          margin: 1.2rem 0;
        }
  
        @include respond-to('phone-lg') {
          margin: 1.2rem 0;
        }
  
        @include respond-to('phone-md') {
          margin: 1.2rem 0;
        }
  
        @include respond-to('phone-sm') {
          margin: 1.2rem 0;
        }
      }

      &__app {
        @include respond-to('tablet') {
          margin: 1.2rem 0;
        }
  
        @include respond-to('phone-lg') {
          margin: 1.2rem 0;
        }
  
        @include respond-to('phone-md') {
          margin: 1.2rem 0;
        }
  
        @include respond-to('phone-sm') {
          margin: 1.2rem 0;
        }
      }

      @include respond-to('tablet') {
        @include flex(column, center, center);
      }

      @include respond-to('phone-lg') {
        @include flex(column, center, center);
      }

      @include respond-to('phone-md') {
        @include flex(column, center, center);
      }

      @include respond-to('phone-sm') {
        @include flex(column, center, center);
      }
    }

    &-bottom {
      @include flex(row, space-between, center);
    }
  }
}