.auth-area {
  position: relative;
  height: 100%;
  width: 100%;
  @include flex(row, center, center);
  background: $primary;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right bottom, $white, $primary);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, $white, $primary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  &__home {
    position: absolute;
    top: 5%;
    left: 5%;

    @include respond-to('phone-lg') {
      left: 35%;
    }

    @include respond-to('phone-md') {
      left: 35%;
    }

    @include respond-to('phone-sm') {
      left: 35%;
    }
  }
}