/* MEDIA QUERIES */
@mixin respond-to($breakpoint) {
  @if $breakpoint=="phone-sm" {
    @media (min-width: 319px) and (max-width: 374px) {
      @content;
    }
  }

  @else if $breakpoint=="phone-md" {
    @media (min-width: 375px) and (max-width: 424px) {
      @content;
    }
  }

  @else if $breakpoint=="phone-lg" {
    @media (min-width: 425px) and (max-width: 767px) {
      @content;
    }
  }

  @else if $breakpoint=="tablet" {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }

  @else if $breakpoint=="laptop" {
    @media (min-width: 992px) and (max-width: 1399px) {
      @content;
    }
  }

  @else if $breakpoint=="laptop-lg" {
    @media (min-width: 1440px) and (max-width: 2560px) {
      @content;
    }
  }

  @else if $breakpoint=="4K" {
    @media (max-width: 2559px) {
      @content;
    }
  }

  @else {
    @media ($breakpoint) {
      @content;
    }
  }
}

//! Example usage
/* @include respond-to('mobile') {} */


/* CENTERING */
@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex ($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin btn {
  display: inline-block;
  font-weight: 600;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: .8rem 1.2rem;
  text-align: center;
  background-color: $white;
  @include border-radius(.5rem);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@mixin btn-outline($background, $color, $color-hover) {
  @include btn;
  border: 1px solid $color;
  color: $color;

  &:hover,
  &:focus {
    background-color: darken($background, 5%);
    color: $color-hover;
    border: 1px solid darken($background, 5%);
  }
}

@mixin non-btn-outline($background, $color, $color-hover) {
  border: 1px solid $color;
  color: $color;
  display: inline-block;
  font-weight: bold;
  padding: .8rem 1.2rem;
  @include border-radius(.5rem);
}

@mixin btn-normal($background, $color) {
  @include btn;
  background: $background;
  color: $color;

  &:hover,
  &:focus {
    background: darken($background, 7%);
  }
}

@mixin card-auth {
  padding: 2rem;
  min-width: 35rem;
  box-shadow: $shadow-lg;
  background-color: $white;
  @include border-radius(1rem);

  @include respond-to('phone-sm') {
    width: 100%;
    min-width: 0;
    margin: 0 1.2rem;
  }
}

@mixin card-border {
  @include border-radius(.5rem);
  border: 1px solid #dee2e6;
  padding: 1.4rem 2rem;
  margin-bottom: 2.2rem;
}

@mixin shadow-lg($color) {
  box-shadow: 0 2rem 2.5rem -.5rem rgba($color, 0.1), 0 1rem 1rem -.5rem rgba($color, 0.04);
}

@mixin w-100 {
  width: 100%;
}


@mixin list($color, $hover) {
  ul {
    li {
      position: relative;
      color: $color;
      line-height: 2rem;
      padding-left: 2.3rem;
      margin-bottom: 1rem;

      &::before {
        position: absolute;
        left: 0;
        content: "\00bb";
        color: $color;
        top: -.1rem;
        font-size: 2.2rem;
      }

      a {
        color: $color;

        &:hover {
          color: $hover;
        }
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin input {
  padding: .6rem 1.2rem;
  outline: 0;
  width: 100%;
  border: 1px solid $color-muted-2;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, box-shadow .3s ease-in-out;
  color: $color-muted-3;
  @include border-radius(.3rem);
  font-size: 1.5rem;
  background-color: $light-grey;
  height: 4.2rem;
  overflow: visible;

  &:focus,
  &:active {
    border-color: $primary;
    box-shadow: $shadow;
    outline: thin solid rgba(0, 115, 170, 0.15);
    outline-offset: -4px;
  }
}

@mixin title {
  color: $color-muted-3;
  font-weight: 700;
  text-align: center;
  margin-bottom: .7rem;
}

@mixin address {
  color: $color-muted-3;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1.2rem;
}
