//? set your brand colors

$white: #fff;
$black: #000;

$light-grey: #fbfdff;
$light-grey2: #D1D7E3;
$grey: #d7d7d7;

$black-soft: #444;

$success: #357d37;
$success-hover: #3c8a3f;
$warning: #204e5d;
$warning-hover: #d19c00;
$danger: #fe385f;
$danger-hover: #ff0537;
$info: #209bee;
$info-hover: #0f80cb;


//? override for project clarity

$primary: #3263d3;
$secondary: #78c0e0;
$tertiary: #134d6f;
$color4: #150578;
$color5: #0e0e52;
$color6: #0e1b3a;
$color-dark: #34495e;
$color-muted: #3e4b52;
$color-muted-2: #3e4b5d;
$color-muted-3: #475a75;

$color-gmail: #9F2013;
$color-linkedin: #006192;

$shadow: 0 .1rem .3rem 0 rgba($color5, 0.1), 0 .1rem .2rem 0 rgba($color5, 0.06);
$shadow-md: 0 .4rem .6rem -.1rem rgba($color5, 0.1), 0 .2rem .4rem -.1rem rgba($color5, 0.06);
$shadow-lg: 0 1rem 1.5rem -.3rem rgba($color5, 0.1), 0 .4rem .6rem -.2rem rgba($color5, 0.05);
$shadow-lg-top: 0 5px 25px 0 rgba($color5, 0.15);
$shadow-xl: 0 2rem 2.5rem -.5rem rgba($color5, 0.1), 0 1rem 1rem -.5rem rgba($color5, 0.04);
$shadow-2xl: 0 2.5rem 5rem -1.2rem rgba($color5, 0.25);
$shadow-inner: inset 0 .2rem .4rem 0 rgba($color5, 0.06);
$shadow-outline: 0 0 0 .3rem rgba($color5, 0.5);
$shadow-smooth: 0 .8rem 2.5rem 0 rgba($color5, 0.06);
